In [8]:
#Download dataset

import requests  

print('Download Starting...')
url = "https://data.gov.sg/dataset/21d477f2-6e1b-4232-82b3-59e804dc2f6a/download"
r = requests.get(url)
#filename = url.split('/')[-1]
with open("download.zip",'wb') as output_file:
    output_file.write(r.content)
print('Download Completed!!!')

Download Starting...
Download Completed!!!

In [7]:
#Extract zipfile

from zipfile import ZipFile
file = "download.zip" 
with ZipFile(file, 'r') as zip:
    zip.printdir()
    print('Extracting all the files now...')
    zip.extractall(path=None, members=None, pwd=None)
    print('Done!')

File Name                                             Modified             Size
metadata-acra-information-on-corporate-entities.txt 2022-02-23 12:08:18       546695
acra-information-on-corporate-entities-a.csv   2022-02-23 12:08:20     79640536
acra-information-on-corporate-entities-b.csv   2022-02-23 12:08:22     42913656
acra-information-on-corporate-entities-c.csv   2022-02-23 12:08:24     65266424
acra-information-on-corporate-entities-d.csv   2022-02-23 12:08:26     33251721
acra-information-on-corporate-entities-e.csv   2022-02-23 12:08:26     40221401
acra-information-on-corporate-entities-f.csv   2022-02-23 12:08:28     31688274
acra-information-on-corporate-entities-g.csv   2022-02-23 12:08:28     39276901
acra-information-on-corporate-entities-h.csv   2022-02-23 12:08:30     42767532
acra-information-on-corporate-entities-i.csv   2022-02-23 12:08:30     29180091
acra-information-on-corporate-entities-j.csv   2022-02-23 12:08:30     30606669
acra-information-on-corporate-entities-k.csv   2022-02-23 12:08:32     35284532
acra-information-on-corporate-entities-l.csv   2022-02-23 12:08:32     41926296
acra-information-on-corporate-entities-m.csv   2022-02-23 12:08:34     56468657
acra-information-on-corporate-entities-n.csv   2022-02-23 12:08:36     26945130
acra-information-on-corporate-entities-o.csv   2022-02-23 12:08:36     18439849
acra-information-on-corporate-entities-p.csv   2022-02-23 12:08:38     46183176
acra-information-on-corporate-entities-q.csv   2022-02-23 12:08:38      5422609
acra-information-on-corporate-entities-r.csv   2022-02-23 12:08:40     32074695
acra-information-on-corporate-entities-s.csv   2022-02-23 12:08:46    107241985
acra-information-on-corporate-entities-u.csv   2022-02-23 12:08:48     11523490
acra-information-on-corporate-entities-t.csv   2022-02-23 12:08:50     64961144
acra-information-on-corporate-entities-v.csv   2022-02-23 12:08:52     16822574
acra-information-on-corporate-entities-w.csv   2022-02-23 12:08:54     26509385
acra-information-on-corporate-entities-x.csv   2022-02-23 12:08:54      5402895
acra-information-on-corporate-entities-y.csv   2022-02-23 12:08:56     16775946
acra-information-on-corporate-entities-z.csv   2022-02-23 12:08:58      7703017
acra-information-on-corporate-entities-others.csv 2022-02-23 12:08:58      9330170
Extracting all the files now...
Done!

In [1]:
#read multiple csv - collect file names

import pandas as pd
import glob

#path = ""
path = "data/"
all_files = glob.glob(path + "*.csv")
all_files

['data/acra-information-on-corporate-entities-a.csv',
 'data/acra-information-on-corporate-entities-b.csv',
 'data/acra-information-on-corporate-entities-c.csv',
 'data/acra-information-on-corporate-entities-d.csv',
 'data/acra-information-on-corporate-entities-e.csv',
 'data/acra-information-on-corporate-entities-f.csv',
 'data/acra-information-on-corporate-entities-g.csv',
 'data/acra-information-on-corporate-entities-h.csv',
 'data/acra-information-on-corporate-entities-i.csv',
 'data/acra-information-on-corporate-entities-j.csv',
 'data/acra-information-on-corporate-entities-k.csv',
 'data/acra-information-on-corporate-entities-l.csv',
 'data/acra-information-on-corporate-entities-m.csv',
 'data/acra-information-on-corporate-entities-n.csv',
 'data/acra-information-on-corporate-entities-o.csv',
 'data/acra-information-on-corporate-entities-p.csv',
 'data/acra-information-on-corporate-entities-q.csv',
 'data/acra-information-on-corporate-entities-r.csv',
 'data/acra-information-on-corporate-entities-s.csv',
 'data/acra-information-on-corporate-entities-u.csv',
 'data/acra-information-on-corporate-entities-t.csv',
 'data/acra-information-on-corporate-entities-v.csv',
 'data/acra-information-on-corporate-entities-w.csv',
 'data/acra-information-on-corporate-entities-x.csv',
 'data/acra-information-on-corporate-entities-y.csv',
 'data/acra-information-on-corporate-entities-z.csv',
 'data/acra-information-on-corporate-entities-others.csv']

In [3]:
#read multiple csv - for loop

li = []
for filename in all_files:
    df = pd.read_csv(filename, delimiter=',')
    li.append(df)

li[1]
df = pd.concat(li)
df.head(5)

/home/jessica/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,business_constitution_description,primary_ssic_description,primary_user_described_activity,street_name,entity_status_description,annual_return_date,postal_code,paid_up_capital10_preference,entity_name,paid_up_capital2_others,...,paid_up_capital10_ordinary,paid_up_capital10_others,uen_of_audit_firm4,paid_up_capital7_others,uen_of_audit_firm5,entity_type_description,paid_up_capital3_ordinary,paid_up_capital5_ordinary,paid_up_capital9_preference,paid_up_capital1_ordinary
0,Sole Proprietor,REPAIR OF DOMESTIC ELECTRICAL/ELECTRONIC APPLI...,na,HOUGANG AVENUE 8,Ceased Registration,na,530446,na,A & E ENGINEERING SERVICES,na,...,na,na,na,na,na,Business,na,na,na,na
1,Sole Proprietor,CHARTERED BUS SERVICES (INCLUDING SCHOOL BUSES),na,YISHUN STREET 41,Cancelled (Non-Renewal),na,760456,na,A & Q TRANSIT,na,...,na,na,na,na,na,Business,na,na,na,na
2,Sole Proprietor,MANAGEMENT CONSULTANCY SERVICES FOR HEALTHCARE...,PROVIDE BUSINESS MANAGEMENT AND CONSULTANCY SE...,BUKIT BATOK STREET 31,Cancelled,na,659443,na,A AND Y CONSULTANCY SERVICES,na,...,na,na,na,na,na,Business,na,na,na,na
3,Sole Proprietor,LETTING AND OPERATING OF SELF-OWNED OR LEASED ...,SALES OF DRINKS & FOODS,TANJONG PAGAR PLAZA,Cancelled,na,082001,na,A COFFEE SHOP,na,...,na,na,na,na,na,Business,na,na,na,na
4,Sole Proprietor,MANAGEMENT CONSULTANCY SERVICES N.E.C.,na,TREVOSE CRESCENT,Cancelled,na,298086,na,A DIXIT & ASSOCIATES,na,...,na,na,na,na,na,Business,na,na,na,na

In [4]:

df.shape

(1786792, 94)

In [9]:
#Create a new df using selected columns in csv

df_new = df[["uen","entity_name","primary_ssic_code","secondary_ssic_code","primary_ssic_description","secondary_ssic_description","block","street_name","building_name","level_no","unit_no","postal_code","entity_status_description","uen_issue_date","registration_incorporation_date","entity_type_description"]]

df_new.shape

(1786792, 16)

In [11]:
df_new.head(5)

,uen,entity_name,primary_ssic_code,secondary_ssic_code,primary_ssic_description,secondary_ssic_description,block,street_name,building_name,level_no,unit_no,postal_code,entity_status_description,uen_issue_date,registration_incorporation_date,entity_type_description
0,53011372D,A & E ENGINEERING SERVICES,95220,43210,REPAIR OF DOMESTIC ELECTRICAL/ELECTRONIC APPLI...,ELECTRICAL WORKS,446,HOUGANG AVENUE 8,na,B1,1635,530446,Ceased Registration,2008-09-12T00:00:00,2004-01-07T14:33:42,Business
1,53358494M,A & Q TRANSIT,49212,na,CHARTERED BUS SERVICES (INCLUDING SCHOOL BUSES),na,456,YISHUN STREET 41,DEW SPRING @ YISHUN,06,75,760456,Cancelled (Non-Renewal),2017-03-15T00:00:00,2017-03-15T12:31:24,Business
2,53043572A,A AND Y CONSULTANCY SERVICES,70202,na,MANAGEMENT CONSULTANCY SERVICES FOR HEALTHCARE...,na,52,BUKIT BATOK STREET 31,"MADEIRA, THE",09,08,659443,Cancelled,2008-09-13T00:00:00,2005-04-29T01:38:25,Business
3,53065972K,A COFFEE SHOP,68104,47211,LETTING AND OPERATING OF SELF-OWNED OR LEASED ...,RETAIL SALE OF FRUITS AND VEGETABLES,1,TANJONG PAGAR PLAZA,na,01,53,082001,Cancelled,2008-09-13T00:00:00,2006-04-10T10:36:33,Business
4,53028864L,A DIXIT & ASSOCIATES,70209,82999,MANAGEMENT CONSULTANCY SERVICES N.E.C.,OTHER BUSINESS SUPPORT SERVICE ACTIVITIES (EG ...,74,TREVOSE CRESCENT,na,na,na,298086,Cancelled,2008-09-12T00:00:00,2004-09-09T17:07:45,Business

In [10]:
df_new.duplicated('uen').value_counts()

False    1772878
True       13914
dtype: int64

In [13]:
#Read UEN list

df_uen = pd.read_csv('task1_uen_list.csv')
#df_uen.shape
df_uen.head(5)

          uen
0  201918502Z
1  201805481E
2  201801917H
3  202024361C
4  201542494D

In [15]:
#merge file
#https://statisticsglobe.com/types-joins-for-pandas-dataframes-python

df3 = pd.merge(df_new,df_uen,on = 'uen', how = 'inner')
#df3.shape
df3.head(5)

,uen,entity_name,primary_ssic_code,secondary_ssic_code,primary_ssic_description,secondary_ssic_description,block,street_name,building_name,level_no,unit_no,postal_code,entity_status_description,uen_issue_date,registration_incorporation_date,entity_type_description
0,200816741G,A-PLUS FOOD SINGAPORE PTE. LTD.,46900,47802,WHOLESALE TRADE OF A VARIETY OF GOODS WITHOUT ...,STALLS (INCLUDING PUSHCARTS) SELLING OTHER COM...,2,YISHUN INDUSTRIAL STREET 1,NORTH POINT BIZHUB,03,05,768159,Live Company,2008-09-13T00:00:00,2008-08-22T17:53:00,Local Company
1,49837300B,AAJ ELECTRICAL CABLE JOINTING,43210,na,ELECTRICAL WORKS,na,10,ANSON ROAD,INTERNATIONAL PLAZA,05,16,079903,Live,2008-09-10T00:00:00,1993-12-17T00:00:00,Business
2,200904175N,ACHIEVERLIFE PTE. LTD.,85409,na,TRAINING COURSES N.E.C.,na,1,TAMPINES NORTH DRIVE 1,T-SPACE,06,08,528559,Live Company,2009-03-10T00:00:00,2009-03-09T16:14:17,Local Company
3,201421115M,ADASTRA DESIGN SINGAPORE PTE. LTD.,74199,na,OTHER SPECIALISED DESIGN ACTIVITIES N.E.C.,na,26,SIN MING LANE,MIDVIEW CITY,06,125,573971,Live Company,2014-07-19T00:00:00,2014-07-18T11:26:12,Local Company
4,53389273B,AK TRADERS INTERNATIONAL,46900,46303,WHOLESALE TRADE OF A VARIETY OF GOODS WITHOUT ...,WHOLESALE OF A GENERAL LINE (WIDE RANGE) OF GR...,506,CHAI CHEE LANE,BOXPARK @ CHAI CHEE,01,02,469026,Registration expired and has not been renewed,2018-10-29T00:00:00,2018-10-29T13:48:45,Business

In [16]:
#export to csv
df3.to_csv('task1_output.csv', sep=',',index=False)